{{- $sslEnabled := or (and .Values.ssl.cert .Values.ssl.key) .Values.ssl.fromSecret -}}
datadir="/var/lib/proxysql"

admin_variables=
{
  {{- range $key, $value := .Values.admin_variables }}
  {{ $key }}={{ $value | toJson }}
  {{- end }}
}

mysql_variables=
{
  {{- include "proxysql.sslConf" . | indent 2 }}
  {{- range $key, $value := .Values.mysql_variables }}
  {{ $key }}={{ $value | toJson }}
  {{- end }}
}

# defines all the MySQL servers
mysql_servers =
(
  {{- range $_, $server := .Values.mysql_servers }}
  {
    {{- if and $sslEnabled (not (hasKey $server "use_ssl")) -}}
    {{- $server := merge $server (dict "use_ssl" 1) }}
    {{- end }}
    {{- range $key, $value := $server }}
    {{ $key }}={{ $value | toJson }}
    {{- end }}
  },
  {{- end }}
)

# defines all the MySQL users
mysql_users:
(
  {{- range $_, $user := .Values.mysql_users }}
  {
    {{- if hasKey $user "active" -}}
    {{- $server := merge $user (dict "active" 1) }}
    {{- end }}
    {{- range $key, $value := $user }}
    {{ $key }}={{ $value | toJson }}
    {{- end }}
  },
  {{- end }}
)

#defines MySQL Query Rules
mysql_query_rules:
(
  {{- range $idx, $rule := .Values.mysql_query_rules }}
  {
    rule_id={{ add $idx 1 }}
    {{- range $key, $value := $rule }}
    {{ $key }}={{ $value | toJson }}
    {{- end }}
  },
  {{- end }}
)

proxysql_servers=
(
  {{- $nodeCount := .Values.proxysql_cluster.core.replicas | int}}
  {{- range $index, $_ := until $nodeCount }}
  {
    hostname={{ printf "%s-%d" (include "proxysql.fullname" .) $index | toJson }}
    port={{ $.Values.service.adminPort | toJson }}
    weight=100
  },
  {{- end }}
  {{- range $_, $pserver :=  .Values.additional_proxysql_servers }}
  {
    hostname={{ $pserver.hostname | toJson }}
    port={{ default $.Values.service.adminPort $pserver.port | toJson }}
    weight={{ default 100 $pserver.weight | toJson }}
    comment={{ default "" $pserver.comment | toJson }}
  },
  {{- end }}
)
{{- end -}}

scheduler=
(
  {{- range $idx, $rule := .Values.schedulers }}
  {
    rule_id={{ add $idx 1 }}
    {{- range $key, $value := $rule }}
    {{ $key }}={{ $value | toJson }}
    {{- end }}
  },
  {{- end }}
)

mysql_replication_hostgroups=
(
  {{- range $idx, $rule := .Values.mysql_replication_hostgroups }}
  {
    rule_id={{ add $idx 1 }}
    {{- range $key, $value := $rule }}
    {{ $key }}={{ $value | toJson }}
    {{- end }}
  },
  {{- end }}
)
